.card {
    width: 45%;
    padding: 10px;

    text-align: center;
}

.card > img {
    width: 80%;
}

.card h1 {
    font-size: 16px;
}

.card:hover, .card h1:hover {
    color: white;
    background-color: #333333;
}
